---
import { getRelativeLocaleUrl } from 'astro:i18n';
const { lang } = Astro.params;
const currentPath = Astro.url.pathname;
---

<div class="fixed top-4 right-4 z-50">
  <div class="bg-white rounded-lg shadow-md px-2 py-1">
    <a
      href={currentPath.replace('/en', '')}
      class={`px-2 py-1 rounded-md ${!lang ? 'bg-primary text-white' : 'text-secondary hover:text-primary'}`}
    >
      PL
    </a>
    <a
      href={getRelativeLocaleUrl('en', currentPath)}
      class={`px-2 py-1 rounded-md ${lang === 'en' ? 'bg-primary text-white' : 'text-secondary hover:text-primary'}`}
    >
      EN
    </a>
  </div>
</div>